<div class="welcome-card">
    <h1>Hello</h1>
    <div class="btn-create">
        <a href="/auth/sign-up">Create an account</a>
    </div>
    <div class="btn-create">
        <p>Already have an account?</p>
        <a href="/auth/sign-in">Sign In</a>
    </div>
</div>