<div class="cat-card">
    <div class="main-cat">
        <img src="/images/cat-fishes-eats-watermelon-1.jpg" alt="watermelon cat" class="melon-cat">
    </div>
    <div class="btn-create">
        <a href="/">&lsaquo; go back</a>
    </div>

</div>