<div class="cat-card">

    <div class="cat-gif">
        <img src="http://www.catgifpage.com/gifs/318.gif" alt="cat gif">
    </div>

    <div class="btn-create">
        <a href="/">&lsaquo; go back</a>
    </div>

</div>