<div class="container">

    <div class="welcome-card">
        <h1>Sign In</h1>

        <form action="/auth/sign-in" method='POST'>
            <input type="username" name='username' required='true' placeholder="Your user name">
            <br>
            <input type="password" name='password' required='true' placeholder="Your password ">
            <br>
            <br>
            <button type='submit'>Sign In</button>
        </form>
    </div>
</div>