<div class="container">

    <div class="welcome-card">
        <h1>Sign Up</h1>

        <form action="/auth/sign-up" method='POST'>
            <input type="username" name='username' required='true' placeholder="Your username">
            <br>
            <input type="password " name='password' required='true' placeholder="Your password ">
            <br>
            <br>
            <button type='submit'>Create my User Account</button>
        </form>
        <p>Already have an account?</p>
        <div class="btn-create"><a href="/auth/sign-in">Sign In</a></div>
    </div>
</div>